name: DevOps CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    
    # HEDHI EL ZYADA EL DAROURIYA:
    container:
      image: hashicorp/terraform:1.5.0

    services:
      localstack:
        image: localstack/localstack:latest
        ports:
          - 4566:4566

    steps:
      - uses: actions/checkout@v3

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform
        env:
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test
          AWS_DEFAULT_REGION: us-east-1

      - name: Build & Run App
        # Na77iha temporary ken ma3andekch Docker f-west el container image
        run: echo "Terraform finished successfully!"
